<div class="row">
  <div class="col-xs-12">
   <button class="btn btn-success">New Book</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item" clearfix
    *ngFor(let book of books)>
      <div class="'pull-left">
        <h4 class="list-group-heading">{{ book.title }}</h4>
        <h5 class="list-group-item-text">{{ book.author }}</h5>
        <p class="list-group-item-text">{{ book.genre }}</p>
        <p class="list-group-item-text">{{ book.description }}</p>
      </div>
      <span class="pull-right">
        <img
        [src]="book.imagePath"
        alt="{{ book.title }}"
        class="img-responsive"
        style="max-height: 50px;">
      </span>
    </a>
    <app-book-item></app-book-item>
  </div>
</div>
