<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Book Title</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button"
      class="bth btn-primary drop-down-toggle"> Manage Book <span class="caret"></span>
    </button>
    <ul>
      <li><a href="#">Add Book</a></li>
      <li><a href="#">Edit Book</a></li>
      <li><a href="#">Delete Book</a></li>
    </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Author
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Genre
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Desctiption
  </div>
</div>
